<body>
    <div id="title">
        <p>Welcome To Your Local Automatic Rainbow Analyzing Software!</p>
    </div>
        <p>To get set up, please follow the instruction down below</p>
        <ol>
            <li>Set up you Raspberry Pi and download the OS</li>
            <li>Connect both your local machine and your Raspberry Pi to the same network</li>
            <li>Get onto your Raspberry Pi and create a virtual environment</li>
            <dd>This will help protect the OS</dd>
            <li>Once you are in the virtual environment, <a href="https://github.com/EbenKouao/pi-camera-stream-flask">click here</a> and put this bash file onto the raspberry pi</li>
            <dd>This will run all the commands nessicay to set up your camera's server</dd>
            <dd>A lot of these dependincies are old. If this causes issues, please contact Bradan and complain. He should refactor the open source code but is lazy</dd>
            <dd>MAKE THIS A WHOLE PAGE</dd>
            <li></li>
        </ol>

</body>